h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 0;
    font-weight: bold;
    font-family: sans-serif;
    color: midnightblue;
}

/*vaadin-grid-cell-content{*/
    /*!*font-size: var(--lumo-font-size-xxs);*!*/
    /*!*padding: var(--lumo-space-xs) var(--lumo-space-xs);*!*/
/*}*/


